<!DOCTYPE html>
<html>
<head>
<meta charset="EUC-KR">
<title>Insert title here</title>
</head>
<body>
	<!-- 링크 표현식 -->
	<li>
<a th:href  ="@{/sample/ex3(param=aaa)}">3번째 페이지로 이동하기</a>
	</li>
	
	<li>
<a th:href  ="@{/sample/ex3(param=${aaa})}">3번째 페이지로 이동하기</a>
	</li>
</body>
</html>