<!-- thymeleaf의 반복문, 블록, 조건문 사용하기 -->
<!DOCTYPE html>
<html>
<head>
<meta charset="EUC-KR">
<title>Insert title here</title>
</head>
<body>
<h1>반복문</h1>
<ul>
	<li th:each="dto : ${list}">
		[[${dto}]]
	</li>
</ul>

<h1>반복문의 반복상태</h1>
<ul>
	<li th:each= "dto,status : ${list}">
		[[${status}]]
	</li>
</ul>

<h1>블록태그</h1>
<th:block th:each = "dto : ${list}">
<p>[[${dto}]]</p>
<span>[[${dto}]]</span>
</th:block>

<h1>조건문</h1>
<th:block th:each= "dto: ${list}">
	<!-- 만족하는 경우 -->
	<span th:if="${dto.no == 2}" th:text = "${dto}"></span>
	<!-- 만족하지 않는 경우 -->
<p th:unless="${dto.no == 2}" th:text="${dto}"></p>
</th:block>

<h1>삼항연산자</h1>
<th:block th:each="dto: ${list}">
	<span th:text= "${dto.no==2}?${dto.no}:---"></span>
</th:block>
</body>
</html>