<!DOCTYPE html>
<html>
<head>
<meta charset="EUC-KR">
<title>Insert title here</title>
</head>
<body>
<h1 th:text ="${dto.name}"> </h1>
<h1 th:text ="${dto.age}"> </h1>
<h1 th:text ="${dto.address}"> </h1>
	

</body>
</html>