<!DOCTYPE html>
<html>
<head>
<meta charset="EUC-KR">
<title>Insert title here</title>
</head>
<body>
<th:block th:each = "ar : ${arr}"> 
	
	<h3 th:if = "${ar % 2 == 0}" th:text="${ar}"></h3>
	
	<p th:text= "${ar % 2 == 0}?${ar}:x"></p>
	
</th:block>
</body>
</html>